body{
	font-family: "Trebuche MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x top left;
	height: 233px;
}
*{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*************Layout Topo***********/
#topo ul li{
	float: left;

	
}
#topo ul{
	margin-top: 2.5em;
	background: #B10333;
	float: left;
	margin-bottom: 0.5em;
	
}
#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.4em;
	color: #fff;
	line-height: 1.8em;
	background: url(../imagens/divisor.png) no-repeat center right;	
}
#topo ul a.sem-divisor{
	background: none;
}
#topo ul a:hover{
	color: #69001d;
}
body.home #topo a#home,
body.brasil #topo a#brasil,
body.fotos #topo a#fotos
{
	color: #fff;
	background: #de003e;
}
#topo{
	height: 150px;	
	padding-top: 25px;
	background: url(../imagens/detalhe-topo.png) no-repeat top right;
}

#container{
	width: 750px;
	margin: 0 auto;	
}
.logo{
	background: url(../imagens/logo.png) no-repeat top left;
	width: 152px;
	height: 66px;
}
/********Layout conteudo*********/
#conteudo{
	margin-top: 60px;
	background: #f5f5f5;
	
}
#primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
	
}
#duas-colunas #primario{
	width: 555px;
}
#uma-coluna #primario{
	width: 750px;
	margin-bottom: 20px;
}
#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}
#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}
#container-rodape{
	clear: both;
	background: #294C71;
	padding: 20px;
		
}
#rodape{
	color: #fff;
	margin: 0 auto;
	width: 750px;
}
/**********Layout Lateral***********/
.caixa{
	background: #F3F3F3 url(../imagens/fundo-caixa.png);
	margin: 10px 0;
	padding: 5px;
}
h2{
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
	font-size: 1em;
}
.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}
#lista-lateral a{
	color: black;
}	
ul#lista-lateral li{
	padding: 10px 5px;
	border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	color: #A1A1A1;
	padding-left: 20px;
}
#email{
	width: 90%;
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #A4A4A4;
}
#cadastrar{
	background: #B10333;
	font-size: 1em;
	color: #fff;
	padding: 5px;
}
/***************layout conteudo primario*************/
h3.primario1{
	font-size: 0.8em;
	background: #B10333;
	color: #fff;
	padding:3px 2px;
	display: inline;
	font-weight: normal;

}
.imagem-caixa{
	width: 95%;
	height: auto;
	border: 3px solid #d8d8d8;
}
#lista-noticias li a img{
	float: left;
	margin: 5px;
}
#lista-noticias h3{
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #3e7ab9;
}
#lista-noticias p{
	font-size: 0.7em;
	color: black;
}
#lista-noticias li{
	border-bottom: 1px solid #ccc;
	height: 62px;
	margin-bottom: 2px;
}
#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}
#primario a.link-leia-mais{
	color: #B10333;
	text-decoration: underline;
}
#primario a.link-leia-mais a:hover a:active a:visited{
	color: #B10333;
	text-decoration: underline;
}
/************************Layout Secundario******************/
h3.secundario1{
	font-size: 0.8em;
	background: #B10333;
	color: #fff;
	padding:3px 2px;
	display: inline;
	font-weight: normal;
}
#secundario a.link-leia-mais{
	color: #B10333;
	text-decoration: underline;
}
#secundario a.link-leia-mais a:hover a:active a:visited{
	color: #B10333;
	text-decoration: underline;
}
/********************PAGINA BRASIL*************************/


/************************Pagina fotos********************/
body#uma-coluna a.link-leia-mais{
	color: #B10333;
	text-decoration: underline;
}
body#uma-coluna a.link-leia-mais a:hover a:active a:visited{
	color: #B10333;
	text-decoration: underline;
}
